---
layout: default
title: Home
---

<section class="tiles">

{% for post in paginator.posts %}
	<article class="style{{ forloop.index | plus:1 }}">
		<span class="image">
			<img src="/images/pic01.jpg" alt="pic" />
		</span>
		<a href="{{ post.url }}">
			<h2>{{ post.title }}</h2>
			<div class="content">
				<p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
			</div>
		</a>
	</article>
{% endfor %}

<div class="pagination" role="navigation" style="display:block;width:100%">
	{% if paginator.previous_page %}
		{% if paginator.page == 2 %}
			<a class="older-posts" href="/">&larr; 이전 포스트</a>
		{% else %}
			<a class="older-posts" href="{{ '/page' | append: paginator.previous_page }}">&larr; 이전 포스트</a>
		{% endif %}
	{% endif %}
	<span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a class="newer-posts" href="{{ '/page' | append: paginator.next_page }}">다음 포스트 &rarr;</a>
	{% endif %}
</div>

</section>

